@media screen and (max-width:576px) {
    .header {
        background: #FFF8F3;
        background-image: url(../Images/header_bg.png);
        background-repeat: no-repeat;
        background-position: bottom right, left;
        background-size: contain;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 27px;
        padding: 37px 0px;
        flex-direction: row;
    }

    .nav-title {
        font-weight: 800;
        font-size: 31px;
    }

    nav ul li {
        list-style: none;
        margin-left: 9px;
    }

    .btn-primary {
        background: #FD6E0A;
        border-radius: 3px;
        border: 0;
        width: 66px;
        height: 34px;
        color: white;
        font-size: 11px;
        font-weight: 700;
    }

    .banner-info {
        margin: 46px 0 0 0;
    }

    .banner {
        display: flex;
        align-items: center;
        margin: 4px 10px;
    }

    .banner-title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 0px;
        margin-left: 4px;
    }

    .banner-subtitle {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: -4px;
        margin-left: 2px;
    }

    .banner-description {
        text-align: left;
        font-size: 10px;
        font-weight: 500;
        color: #757575;
        margin-bottom: 13px;
        margin-left: 1px;
    }

    .banner img {
        width: 240px;
        height: 286px;
    }

    .btn-secondary {
        background: #FD6E0A;
        border-radius: 3px;
        border: 0;
        width: 89px;
        height: 35px;
        color: white;
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-left: 19px;
    }

    .about {
        background: #FFF8F3;
        border-radius: 10px;
        text-align: center;
        padding: 30px 40px;
        margin: 30px 40px;
    }

    .about-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 18px;
        text-align: left;
        margin-left: 12px;
    }

    .about-description {
        color: #757575;
        font-size: 14px;
        margin-bottom: 28px;
        text-align: left;
    }

    .about-info-container {
        flex-wrap: wrap;
        gap: 35px;
        text-align: center;
        justify-content: center;
    }

    .info-title {
        font-weight: 400;
        font-size: 17px;
        color: #757575;
    }

    .title-description {
        font-weight: 600;
        font-size: 14px;
        color: #474747;
    }

    /* what can i do */
    .skill-container {
        flex-direction: column;
    }

    .skill img {
        display: block;
        margin: auto;
    }

    .skill-title {
        text-align: center;
    }

    .description {
        text-align: center;
    }

    /* resume section */
    .resume {
        margin-top: 86px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 50px;
    }

    .resume-container {
        gap: 18px;
    }

    .resume-title {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        padding: -1 7px;
    }

    .resume-item {
        margin-top: 14px;
        padding: 0 7px;
    }

    .re-sec-title {
        color: #474747;
        font-weight: 600;
        font-size: 19px;
        margin-bottom: 5px;
        text-align: left;
    }

    .re-sec-subtitle {
        color: #757575;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 20px;
        text-align: left;
    }

    .re-sec-description {
        color: #757575;
        font-size: 13px;
        text-align: left;
    }

    .resume-btn {
        margin-top: 2px;
        text-align: center;

    }

    #button-third {
        background: #FD6E0A;
        border-radius: 2px;
        border: 0;
        width: 62px;
        height: 23px;
        color: white;
        font-size: 6px;
        font-weight: 700;
    }

    /* footer section */
    .footer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        background-color: #FFF8F3;
        margin-top: 29px;
        width: 100%;
        height: 400px;
    }

    /* future section */
    .future {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
    }


    .future-title {
        color: #181818;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        margin: 2px 12px 6px 53px;
    }

    .future-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #474747;
        padding: 2px 1px 2px 0px;
    }

    .email-info {
        color: #181818;
        margin: 8px 53px;
    }

    .footer-img {
        margin: 3px 37px;
    }

    .footer-img img {
        padding: 0 6px;
    }

    /* subcribe section */
    .subcribe {
        display: flex;
        flex-direction: column;
        margin: 28px 49px 85px 0px;
    }

    .subcribe-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        color: #181818;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 50px;
    }

    #email {
        margin-top: 7px;
        margin-left: 51px;
        height: 8px;
        width: 187px;
        border-radius: 4px;
        border: 1px solid #181818;
        padding: 10px;
        background-color: #FFFFFF;

    }

    .btn-third {
        width: 82px;
        height: 35px;
        border: none;
        background-color: #FD6E0A;
        border-radius: 3px;
        color: #FFFFFF;
        margin: 14px 52px;
    }

    .hide {
        display: none;
    }

}